.golf-carts-page {
    @extend %available-items-photos;
    .page-title {
        @include text-shadow;
        margin-top: $block-spacing*1.5;
        //margin-bottom: $block-spacing;
        width: 100%;
        font-size: 3rem;
        text-align: center;
        color: $purple;

    }

    & > section:first-of-type {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        div {
            flex: 1;

            margin-top: $block-spacing*1.5;
            line-height: 1.25;
            p {
                font-size: 1.25rem;
                margin-bottom: 0.5rem;
                text-align: center;
            }
            ul {
                padding-left:1rem;
            }
            li {
                position: relative;
                padding-left:0.8rem;
                &::before {
                    content: '•';
                    position: absolute;
                    left:0;
                }
            }
            @media screen and (min-width: 761px)  {
                flex:2;
                &:last-of-type {
                    flex:1;
                    margin-left: $block-spacing;
                }


            }
        }
        @media screen and (max-width: 760px)  {
          display: block;
        }

    }
    .service ul {
        column-count: 2;
        @media screen and (max-width: 480px){
            column-count: 1;
        }
    }
    .info {
        @extend .dark;
        @extend %page-info;
        padding: $block-spacing;
        background-color: black;
        h3 {color: $purple;}
        p {
            margin-bottom: 0;
        }
    }
}
.golf-carts-photos,
.golf-carts-unavailable,
.golf-carts-coming-soon {
    @extend %no-items-available-section;
}
.golf-carts-photos {
    div {
        position: relative;
    }

    img {
        //min-height: 450px;
        // transition: opacity 1s ease-in-out;
        height: auto;
        width: 100%;
        z-index: 1;
        position: absolute;
        top:0;
        right:0;
        left:0;
        bottom:0;
        &.active {
            position: relative;
            z-index: 5;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }
        &.next {
            z-index: 4;
            opacity: 1
        }


        // .next {
        //     z-index: 4;
        //     opacity: 0;
        // }
        // .fading {
        //     opacity: 0;
        // }
        // .uninvolved {
        //     z-index: 1;
        //     opacity: 1;
        // }
    }
    .dark {z-index: 10;}
    @media screen and (max-width: 480px){
        .dark {
            h3 {font-size:  1.8rem;}
        }
    }
}

.available-carts {
    @extend %available-items-photos;
    .cart {
        @extend %available-item-styles;
    }

}